[submodule "ToyEngine/vendor/GLFW"]
	path = ToyEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "ToyEngine/vendor/ImGui"]
	path = ToyEngine/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ToyEngine/vendor/glm"]
	path = ToyEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ToyEngine/vendor/vma"]
	path = ToyEngine/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ToyEngine/vendor/stb"]
	path = ToyEngine/vendor/stb
	url = https://github.com/nothings/stb.git
